/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inter-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inter-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inter-v12-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inika-regular - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inika-v21-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inika-v21-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/inika-v21-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inika-v21-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inika-v21-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inika-v21-latin-regular.svg#Inika")
      format("svg"); /* Legacy iOS */
}
/* inika-700 - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inika-v21-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inika-v21-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/inika-v21-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/inika-v21-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/inika-v21-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/inika-v21-latin-700.svg#Inika")
      format("svg"); /* Legacy iOS */
}

html {
  scroll-behavior: smooth;
}

.body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #636060;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header,
.section-welcome,
.section-service,
.section-contacts {
  background: #edf2ec;
}

.section-about {
  background: #ffffff;
}

/* HEADER START */

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;
  margin: auto 7.5%;
}

.header-block__logo {
  cursor: pointer;
  margin-left: 0.1em;
  margin-bottom: 0.3em;
}

.header-block__nav {
  width: 37%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.nav-list__nav-item {
  cursor: pointer;
  list-style-type: none;
  font-family: "Inika";
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0em;
}

.nav-list__nav-item_link {
  text-decoration: none;
  color: #010201;
}

.nav-item_active,
.nav-list__nav-item_link:hover {
  color: #e06733;
  font-weight: 700;
  transition: 0.3s;
}

.header-block__burger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 24px;
}

.burger-icon__line {
  display: block;
  width: 100%;
  height: 2px;
  background: #717171;
}

.header-block__burger-shadow {
  display: none;
}

.header-block__nav-close {
  display: none;
}

/* HEADER END */

/* SECTIONS START */

.section-welcome-block {
  display: flex;
  padding: 3.7% 7.2% 3.5% 7.2%;
  gap: 10%;
}

.section-welcome-block__pic,
.section-welcome-block__text-block,
.section-about-block__text-block,
.section-about-block__pic {
  width: 50%;
}

.section-welcome-block__text-block_main-header {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  margin: 8% 0;
}

.section-welcome-block__text-block_main-header-green {
  color: #499a18;
}

.section-welcome-block__text-block_welcome-text {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0em;
  width: 95%;
}

.section-welcome-block__text-block_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 44px;
  text-transform: uppercase;
  margin: 8.2% 0;
  border: 2px solid #e06733;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.section-about-block {
  display: flex;
  margin: 9% 7.5% 7.2% 7.5%;
}

.text-block_header {
  font-family: "Inika", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  color: #499a18;
  margin: 0.8em 0 0.6em 0;
}

.text-block_header_orange {
  color: #e06733;
}

.text-block_text {
  padding-top: 0.7em;
  font-size: 20px;
  line-height: 30px;
}

.plant-pic {
  padding: 0.5% 0 0 24.3%;
}

.section-service-block {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  grid-template-areas:
    "header btn btn"
    "crd1 crd2 crd3"
    "crd4 crd5 crd6";
  justify-content: space-between;
  padding: 0.5% 7.5% 8.4% 7.5%;
  row-gap: 3.4rem;
}

.service-block_header {
  grid-area: header;
}

.section-service-block_btns {
  display: flex;
  align-items: center;
  grid-area: btn;
  gap: 4.95%;
  padding-top: 1.5%;
}

.crd1 {
  grid-area: crd1;
}

.crd2 {
  grid-area: crd2;
}

.crd3 {
  grid-area: crd3;
}

.crd4 {
  grid-area: crd4;
}

.crd5 {
  grid-area: crd5;
}

.crd6 {
  grid-area: crd6;
}

.service-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  font-family: "Inika", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  height: 50px;
  width: 161px;
  transition: 0.3s;
}

.service-btn:hover,
.section-welcome-block__text-block_button:hover {
  background: #e06733;
  color: #ffffff;
  transition: 0.3s;
}

.card_img {
  display: block;
  width: 100%;
}

.card_header {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin: 0.45em 0;
}

.card_text-block {
  display: block;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 1.2em;
}

.section-prices-block {
  display: flex;
  justify-content: space-between;
  margin: 2.7% 7.6% 8.9% 7.5%;
}

.section-prices-block_rates,
.section-prices-block_contact {
  width: 39%;
}

.rates_header {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 12% 0;
}

.header_right {
  text-align: end;
  margin-bottom: 1em;
}

.rates-block {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  width: 52%;
  padding: 7.2% 8.8% 0 8.5%;
}

.rates-block_rate-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edf2ec;
  border-radius: 20px;
  height: 3.15em;
  margin-bottom: 12.8%;
}

.rates-block_rate-item:hover {
  cursor: pointer;
  background: #d6e7d2;
}

.rate-item_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  padding-left: 16.5%;
}

.rate-item_btn {
  width: 16px;
  height: 16px;
  padding-right: 16%;
}

.section-prices-block_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section-price-block_img {
  margin-top: 9.5%;
}

.section-contacts-block {
  display: grid;
  position: relative;
  grid-template-columns: 39.5% 20.1% 40%;
  padding: 3.6% 2.3% 0 7.6%;
}

.section-contacts-block_pic {
  display: flex;
}

.contacts_img {
  display: block;
}

.section-contacts-block_header {
  font-family: Inika, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-top: 0.2em;
}

.section-contacts-block_cities-selector {
  display: block;
  position: relative;
  background-color: #d6e7d2;
  border: none;
  margin: 18% 0 0 0;
  padding-left: 0.85em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 86%;
  height: 50px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  appearance: none;
  cursor: pointer;
}

.section-contacts-block_cities-selector:hover {
  background-color: #c1e698;
}

.cities-selector_arrow {
  position: absolute;
  top: 163px;
  right: 145px;
}

/* SECTIONS END */

/* FOOTER START */

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  color: #000000;
  font-size: 20px;
  line-height: 50px;
  margin: 0 7.68%;
}

.github-link,
.rsschool-link,
.button_link {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}

.service-btn_link {
  text-decoration: none;
}

.footer-block_rsschool-link {
  display: flex;
  justify-content: center;
  margin-left: 3%;
}

.footer-block_copyright-info,
.footer-block_rsschool-link,
.footer-block_sm-block {
  width: 30%;
}

.footer-block_copyright-info {
  display: flex;
  gap: 5.5%;
}

.footer-block_sm-block {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.7em;
  gap: 7.5%;
}

.sm-block_item {
  list-style-type: none;
}

.sm_img {
  transition: 0.3s;
}

.rsschool-link:hover,
.github-link:hover {
  color: #e06733;
  transform: scale(1.1);
  transition: 0.3s;
}

.sm_img path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.sm_img:hover {
  fill: #e06733;
  transform: scale(1.1);
  transition: 0.3s;
}

/* FOOTER END */

/* ADAPTIVE START */

@media (max-width: 1439px) {
  .cities-selector_arrow {
    display: none;
  }
}

@media (max-width: 1200px) {
  .section-service-block {
    grid-template-columns: 280px 280px 280px;
  }

  .section-contacts-block_cities-selector {
    width: 95%;
  }

  .section-contacts-block {
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
  }

  .rates-block {
    width: 80%;
  }
}

@media (max-width: 1150px) {
  .section-welcome-block__pic-img {
    width: 400px;
  }

  .section-welcome-block__pic {
    width: fit-content;
  }

  .section-welcome-block {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .section-welcome-block__text-block_main-header {
    font-size: 2.5em;
  }

  .section-welcome-block__text-block_welcome-text,
  .text-block_text {
    font-size: 1em;
  }

  .plant-pic {
    width: 380px;
    padding: 0.5% 0 0 18%;
  }

  .text-block_header {
    margin: 0.8em 0 0 0;
  }

  .section-service-block {
    column-gap: 3%;
  }

  .card_text {
    font-size: 0.8em;
  }

  .rates_header {
    font-size: 2em;
  }

  .contacts_img {
    width: 330px;
  }
}

@media (max-width: 1000px) {
  .header-block,
  .section-welcome-block,
  .section-prices-block,
  .section-contacts-block,
  .footer-block {
    margin: auto 5%;
  }

  .section-about-block {
    margin: 5% 5% 5% 5%;
  }

  .header-block__nav {
    width: 60%;
  }

  .section-welcome-block__text-block {
    width: 60%;
  }

  .section-welcome-block__pic-img {
    width: 290px;
  }

  .section-welcome-block {
    padding: 3.7% 0;
  }

  .text-block_header {
    font-size: 35px;
  }

  .section-service-block {
    grid-template-columns: 250px 250px 250px;
    padding: 0.5% 5% 8.4% 5%;
  }

  .section-prices-block {
    margin: 5%;
  }

  .section-contacts-block {
    padding: 3.6% 0 0 5%;
  }

  .section-contacts-block_pic {
    margin: 0;
  }

  .section-contacts-block_header {
    font-size: 2em;
  }

  .section-contacts-block_cities-selector {
    width: 100%;
    margin: 16.5% 0 0 0;
  }
}

@media (max-width: 950px) {
  .section-about-block {
    flex-direction: column;
  }

  .section-about-block__text-block,
  .section-about-block__pic {
    width: 100%;
  }

  .section-about-block__text-block {
    text-align: center;
  }

  .text-block_text {
    font-size: 1.25em;
  }

  .plant-pic {
    display: flex;
    padding: 0;
    margin: 8% auto;
  }
}

@media (max-width: 870px) {
  .header-block {
    height: 117px;
    align-items: center;
    margin: 0 6%;
  }

  .nav-list {
    margin: 0;
  }

  .nav-list__nav-item {
    line-height: 2.5em;
  }

  .section-welcome-block__text-block_main-header {
    margin: 0;
  }

  .section-about-block__pic {
    display: flex;
    justify-content: center;
  }

  .section-welcome-block_img {
    width: 280px;
  }

  .section-welcome-block__text-block_main-header {
    font-size: 35px;
  }

  .plant-pic {
    width: 250px;
    padding: 0;
    margin: 8%;
  }

  .section-service {
    min-height: fit-content;
  }

  .section-service-block {
    grid-template-columns: 45% 45%;
    grid-template-areas:
      "header header"
      "btn btn"
      "crd1 crd2"
      "crd3 crd4"
      "crd5 crd6";
  }

  .footer-block_rsschool-link {
    width: 38%;
    margin: 0;
  }

  .footer-block_sm-block {
    padding-left: 0;
    justify-content: center;
    width: 25%;
  }
}

@media (max-width: 768px) {
  .header-block {
    margin: auto 6.6% auto 6.1%;
    height: 120px;
  }

  .header-block__nav {
    width: 67.5%;
  }

  .section-welcome-block,
  .section-prices-block,
  .section-contacts-block,
  .footer-block {
    margin: auto 6.5%;
  }

  .section-welcome-block {
    padding: 5% 0 4.8% 0;
    gap: 0;
  }

  .section-welcome-block__text-block_welcome-text {
    margin: 7.5% 0 6.5% 1.5%;
    line-height: 25px;
    width: 85%;
  }

  .section-welcome-block__text-block_button {
    margin: 9.2% 0;
  }

  .text-block_header {
    margin: 0;
    line-height: 48px;
  }

  .text-block_text {
    text-align: left;
    padding-top: 1.4em;
  }

  .section-about-block {
    margin: 0 6.5% 4.8% 6.5%;
    padding-top: 4.9%;
  }

  .plant-pic {
    width: 243px;
    margin: 10.4% 10.4% 9.9% 9.7%;
  }

  .section-service-block {
    grid-template-columns: 42% 42%;
    padding: 7.7% 6.5% 9.1% 6.5%;
    row-gap: 2.4rem;
  }

  .section-service-block_btns {
    padding: 0;
    gap: 5.7%;
  }

  .service-block_header {
    width: 50%;
    line-height: 46px;
    margin-bottom: 0.4%;
  }

  .card_text {
    font-size: 1em;
    width: 80%;
    margin: 4.6% 10% 0;
  }

  .section-prices-block {
    margin: 4.8% 6.5% 13.5%;
  }

  .rates_header {
    font-size: 2.15em;
    margin: 0 0 15.2% 4.6%;
  }

  .header_right {
    font-size: 1.56em;
    margin: 31% 0 8.5% 6%;
    line-height: 36px;
  }

  .section-prices-block_rates {
    width: 51%;
  }

  .section-prices-block_contact {
    width: 49%;
  }

  .section-price-block_img {
    margin-top: 11%;
  }

  .rates-block {
    padding: 9.8% 8.8% 0 12%;
    width: 76.3%;
  }

  .rates-block_rate-item {
    width: 95.6%;
    margin-bottom: 12.4%;
  }

  .section-contacts-block {
    grid-template-columns: 100%;
    grid-template-areas:
      "header-contact"
      "selector"
      "woman-pic";
    justify-content: center;
    padding: 4.1% 0 0 0;
  }

  .section-contacts-block_header {
    grid-area: header-contact;
    font-size: 40px;
    line-height: 52px;
  }

  .section-contacts-block_cities-selector {
    grid-area: selector;
    margin: 9.9% 0 0 0;
    width: 67%;
  }

  .section-contacts-block_pic {
    grid-area: woman-pic;
    margin: 37.3% 0 0 3%;
  }

  .contacts_img {
    width: 200px;
  }

  .footer-block {
    flex-direction: column;
    margin: 2.6% 6.5% 5% 6.5%;
  }

  .footer-block_copyright-info {
    justify-content: space-around;
    width: 27.5%;
  }

  .footer-block_rsschool-link {
    line-height: 32px;
  }

  .footer-block_sm-block {
    width: 55%;
    padding-top: 0;
    margin-top: 2.7%;
  }

  .cities-selector_arrow {
    display: block;
    top: 209px;
  }
}

@media (max-width: 700px) {
  .cities-selector_arrow {
    display: none;
  }

  .section-service-block {
    grid-template-columns: 45% 45%;
  }

  .section-welcome-block__pic {
    display: none;
  }

  .section-welcome-block {
    justify-content: center;
    padding: 5% 0 0 0;
  }

  .section-welcome-block__text-block {
    width: 100%;
  }

  .footer-block_rsschool-link {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .section-service-block_btns {
    flex-wrap: wrap;
  }

  .service-btn {
    margin-bottom: 2%;
  }

  .section-prices-block {
    flex-direction: column;
  }

  .section-prices-block_rates,
  .section-prices-block_contact {
    width: 100%;
  }

  .section-price-block_img {
    display: none;
  }

  .section-prices-block_rates,
  .section-prices-block_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rates_header {
    margin: 0 0 8%;
  }

  .header_right {
    text-align: center;
    margin: 10% 0 8.5%;
  }

  .section-contacts-block_cities-selector {
    width: 90%;
  }

  /* BURGER MENU START */

  .header-block__burger-icon {
    display: flex;
  }

  .header-block__nav {
    transform: translateY(-100%);
    transition: 0.3s;
    position: fixed;
    width: calc(100vw - 8%);
    height: 210px;
    top: 0;
    right: 0;
    background: #ffffff;
    z-index: 5;
    padding: 8% 8% 8% 0;
  }

  .header-block__nav_active {
    transform: translateY(0%);
    display: flex;
    justify-content: flex-end;
  }

  .nav-list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  .nav-list__nav-item_link {
    font-size: 20px;
  }

  .nav-item_active {
    color: #010201;
    font-weight: 400;
  }

  .header-block__nav-close {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 6;
  }

  .header-block__nav-close_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #010201;
    top: 50%;
    transform: translateY(-50%);
  }

  .header-block__nav-close_line:first-child {
    transform: translateY(500%) rotate(45deg);
  }

  .header-block__nav-close_line:last-child {
    transform: translateY(400%) rotate(-45deg);
  }

  .header-block__burger-shadow {
    display: block;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a2a2a94;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: 0.3s;
  }

  .shadow-active {
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
  }

  /* BURGER MENU END */
}

@media (max-width: 450px) {
  .nav-list__nav-item {
    font-size: 13px;
  }

  .section-welcome-block__text-block_main-header {
    font-size: 25px;
    line-height: 35px;
  }

  .section-welcome-block__text-block_button {
    width: 100px;
    height: 34.14px;
    font-size: 10px;
    line-height: 20px;
  }

  .text-block_header,
  .section-contacts-block_header {
    font-size: 25px;
    font-weight: 400;
  }

  .text-block_text {
    font-size: 15px;
    line-height: 25px;
    padding-top: 0;
  }

  .plant-pic {
    width: 150px;
    margin: 5%;
  }

  .service-btn {
    max-width: 121px;
    height: 35px;
    font-size: 15px;
  }

  .section-service-block {
    row-gap: 2rem;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "btn"
      "crd1"
      "crd2"
      "crd3"
      "crd4"
      "crd5"
      "crd6";
    justify-items: center;
  }

  .service-block_header,
  .section-service-block_btns {
    justify-self: start;
  }

  .section-prices-block {
    margin: 4.8% 6.5% 10%;
  }

  .rates_header {
    font-size: 25px;
  }

  .rates-block {
    width: 60%;
    padding: 8% 8% 0;
  }

  .rate-item_text {
    font-size: 15px;
  }

  .rates-block_rate-item {
    width: 100%;
  }

  .header_right {
    font-size: 20px;
    width: 60%;
  }

  .contacts_img {
    width: 150px;
  }
}

@media (max-width: 380px) {
  .header-block {
    height: 101px;
  }

  .header-block__burger-icon {
    padding-bottom: 7px;
  }
}

/* ADAPTIVE END */
